<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <!--日志-->
  <log4net>
    <logger name="logerror">
      <level value="ERROR" />
      <appender-ref ref="ErrorAppender" />
    </logger>
    <logger name="loginfo">
      <level value="INFO" />
      <appender-ref ref="InfoAppender" />
    </logger>
    <appender name="ErrorAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\Product\App\App_Log\Error\ErrorLog.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="100" />
      <param name="MaximumFileSize" value="1MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d [%c] %m%n" />
      </layout>
    </appender>
    <appender name="InfoAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="D:\Product\App\App_Log\Info\InfoLog.log" />
      <param name="AppendToFile" value="true" />
      <param name="MaxSizeRollBackups" value="1000" />
      <param name="MaximumFileSize" value="10MB" />
      <param name="RollingStyle" value="Size" />
      <param name="StaticLogFileName" value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%-5p %d [%c] %m%n" />
      </layout>
    </appender>
  </log4net>
  
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="NewBinding0" maxBufferPoolSize="2147483647" maxBufferSize="2147483647"
            maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <services>
      <service name="Jinher.AMP.SNS.Service.BP.Service.Neighbor">
        <endpoint address="http://127.0.0.1:8089/neighbor" binding="basicHttpBinding"
            bindingConfiguration="NewBinding0" contract="Jinher.AMP.SNS.Service.BP.IService.INeighbor" />
      </service>
    </services>
  </system.serviceModel>
  
  <!--<system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="metadataBehavior">
          <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:8089/neighbor/metadata" />
          --><!--<serviceMetadata httpGetEnabled="true"/>--><!--
          <serviceDebug includeExceptionDetailInFaults="true"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true"/>
    <services>
      <service behaviorConfiguration="metadataBehavior" name="Jinher.AMP.SNS.Service.BP.Service.Neighbor">
        <endpoint address="http://127.0.0.1:8089/neighbor" binding="basicHttpBinding" contract="Jinher.AMP.SNS.Service.BP.IService.INeighbor"
                  bindingConfiguration="LargeSize"/>
      </service>
    </services>
    <bindings>
      --><!--<wsHttpBinding>
        <binding name="Jinher.AMP.SNS.Service.BP.Service.Neighbor" maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="32" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" maxStringContentLength="2147483647"/>
        </binding>
      </wsHttpBinding>--><!--
      --><!--<basicHttpBinding>
        <binding name="LargeSize"  maxBufferSize="2147483647" maxBufferPoolSize="21474836471" maxReceivedMessageSize="2147483647">
        </binding>
      </basicHttpBinding>--><!--
        <basicHttpBinding>
          <binding name="LargeSize"
           maxBufferPoolSize="2147483647"
           maxReceivedMessageSize="2147483647"
           maxBufferSize="2147483647">
            <readerQuotas maxArrayLength="2147483647"
                          maxBytesPerRead="2147483647"
                          maxDepth="2147483647"
                          maxNameTableCharCount="2147483647"
                          maxStringContentLength="2147483647"/>
          </binding>
        </basicHttpBinding>
    </bindings>
  </system.serviceModel>-->
</configuration>